*.egg-info
.venv
build
.task
.tox
.env
.tmp.env*
.coverage
.python-version
*/docker-compose/common/secrets/private/
*.ipynb
local_dev_2/requirements.txt
.ruff_cache
.idea
__pycache__
ci_artifacts
.DS_Store
artifacts
