mypy==1.4.0
types-requests==2.28.2
types-aiobotocore==2.4.2
types-opentracing==2.4.0
types-python-dateutil==2.8.2
types-pyopenssl==21.0.0
types-tabulate==0.9.0
types-mock==4.0.3
types-redis==4.5.1
types-sqlalchemy==1.4.46
types-pytz==2022.7.1
types-flask-sqlalchemy==2.5.1
types-pytest-lazy-fixture==0.6.3
types-cryptography==3.3.2
types-protobuf==3.20.3
types-PyMySQL==1.1.0
types-Pygments==2.15.0
types-psycopg2==2.9.6
pandas-stubs==1.5.3.230321
