mypy==1.5.1
pandas-stubs==1.5.3.230321
types-PyMySQL==1.1.0
types-Pygments==2.15.0.2
types-aiobotocore==2.4.2
types-aiofiles==23.1.0
types-cffi==1.15.1
types-colorama==0.4.6
types-cryptography==3.3.2
types-decorator==5.1.1
types-flask-sqlalchemy==2.5.1
types-html5lib==1.1
types-jmespath==1.0.1
types-mock==4.0.3
types-mypy-extensions==1.0.0
types-opentracing==2.4.0
types-paramiko==3.2.0
types-pexpect==4.8.0
types-pluggy==1.2.0
types-protobuf==3.20.3
types-psycopg2==2.9.6
types-pymysql==1.1.0
types-pyopenssl==21.0.0
types-pytest-lazy-fixture==0.6.3
types-python-dateutil==2.8.2
types-pytz==2022.7.1
types-pywin32==306
types-redis==4.5.1
types-requests==2.28.2
types-s3transfer==0.6.1
types-setuptools==68.0.0
types-six==1.16.0
types-sqlalchemy==1.4.46
types-tabulate==0.9.0
types-toml==0.10.2
types-tzlocal==5.0.1
types-urllib3==1.26.16
