*.pyc
*.swp
.robe
*.egg-info
.del
.log
tmpf_*
.idea
.cache
.sia.db
db.sqlite3
_venv
.venv
.DS_Store
.pytest_cache
.python-version
*.conf.local
bi/settings/*.conf.local
*.sqlite
.tox
.coverage
.env
build
dist
cprofiler/

docker-data-volumes
docker-compose/common/secrets

temp
.env_*
.git
.gitmodules
