x-constants:
  US_MASTER_TOKEN: &c-us-master-token "AC1ofiek8coB"
  DB_ORACLE_CONTAINER_NAME: &c-db-oracle-cont-name bi-core_db-oracle
  DB_MSSQL_CONTAINER_NAME: &c-db-mssql-cont-name bi-core_db-mssql
  ports: "1,2,3,just for test"


services:

  zookeeper-1:
    # image: "zookeeper:3.4"
    image: "some.cr.example/datalens/zookeeper@sha256:ad460bd234a3166cb37e14a1526d677052f7c42e1d1dccd040ca3e24ed1bec1f"
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=0.0.0.0:2888:3888
      ports: "1,2,3,just for test"

  db-clickhouse:
    depends_on:
      - zookeeper-1
    build:
      context: docker-compose
      dockerfile: Dockerfile.db-clickhouse
    ports:
     - "50310:8123"
     - "50311:9000"

  db-mysql:
    # the earliest version supported by BI
    # image: "mysql:5.6"
    image: "some.cr.example/datalens/mysql@sha256:d8e4032005f53a774f2361281ebf61fa3d7635d5dacf9c58bc54e823ddcf9f1d"
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
      - MYSQL_DATABASE=common_test
      - MYSQL_USER=datalens
      - MYSQL_PASSWORD=qwerty
    ports:
     - "50312:3306"

  db-postgres:
    # the earliest version supported by BI
    # image: "postgres:9.3-alpine"
    image: "some.cr.example/datalens/postgres@sha256:094358a1a64da927d5c26dcac9dad022cf0db840b6b627b143e5e4fd9adf982b"
    environment:
      - POSTGRES_DB=common_test
      - POSTGRES_USER=datalens
      - POSTGRES_PASSWORD=qwerty
    ports:
     - "50313:5432"

  db-postgres-fresh:
    # image: "postgres:13-alpine"
    image: "some.cr.example/datalens/postgres@sha256:3335d0494b62ae52f0c18a1e4176a83991c9d3727fe67d8b1907b569de2f6175"
    environment:
      - POSTGRES_DB=common_test
      - POSTGRES_USER=datalens
      - POSTGRES_PASSWORD=qwerty
    ports:
     - "50318:5432"

  db-mssql:
    # image: "microsoft/mssql-server-linux:2017-CU12"
    image: "some.cr.example/datalens/mssql-server-linux@sha256:6522290393006d93b88f63a295c5137010e4e0fea548d3fce9892c07262f7a1a"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=qweRTY123
    ports:
     - "50314:1433"

  init-db:
    depends_on:
      - db-clickhouse
      - db-postgres
      - db-mysql
      - db-mssql
    build:
      context: docker-compose
      dockerfile: Dockerfile.init-db
    ports:
     - "50308:8000"

  # INFRA
  pg-us:
    build:
      context: ../../lib/testenv-common/images
      dockerfile: Dockerfile.pg-us
    environment:
      POSTGRES_DB: us-db-ci_purgeable
      POSTGRES_USER: us
      POSTGRES_PASSWORD: us
    ports:
     - "50309:5432"

  us:
    labels:
      datalens.ci.service: united-storage
    build:
      context: ../../lib/testenv-common/images
      dockerfile: Dockerfile.us
    depends_on:
      - pg-us
    environment:
      POSTGRES_DSN_LIST: "postgres://us:us@pg-us:5432/us-db-ci_purgeable"
      AUTH_POLICY: "required"
      MASTER_TOKEN: *c-us-master-token
    ports:
     - "50300:8083"

  redis-caches:
    # image: "bitnami/redis:5.0.8"
    image: "some.cr.example/datalens/redis@sha256:3127620da977815556439a9dc347fff89432a79b6bb6e93a16f20ac4a34ce337"
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
    ports:
     - "50305:6379"

  s3-storage:
    extends:
      file: ../../lib/testenv-common/docker-compose.common.yml
      service: s3-storage
    ports:
      - "51620:8000"
