attrs==22.2.0
asyncpg-stubs==0.29.0
boto3-stubs==1.24.59
botocore-stubs==1.27.59
grpc-stubs==1.53.0.5
mypy==1.7.0
pandas-stubs==2.1.4.231227
types-PyMySQL==1.1.0
types-Pygments==2.15.0.2
types-aiobotocore==2.4.2
types-aiofiles==23.1.0
types-cffi==1.16.0
types-colorama==0.4.6
types-cryptography==3.3.2
types-decorator==5.1.1
types-flask-sqlalchemy==2.5.1
types-html5lib==1.1
types-jmespath==1.0.1
types-mock==4.0.3
types-mypy-extensions==1.0.0
types-opentracing==2.4.0
types-paramiko==3.2.0
types-pexpect==4.8.0
types-pluggy==1.2.0
types-protobuf==3.20.3
types-psycopg2==2.9.9
types-pymysql==1.1.0
types-pyopenssl==23.2.0
types-pytest-lazy-fixture==0.6.3
types-python-dateutil==2.8.2
types-pytz==2022.7.1
types-pywin32==306
types-redis==4.6.0.20240106
types-requests==2.28.2
types-s3transfer==0.6.2
types-setuptools==69.0.0.20240115
types-six==1.16.0
types-sqlalchemy==1.4.51
types-tabulate==0.9.0
types-toml==0.10.2
types-tzlocal==5.0.1
types-ujson==5.8.0.1
types-urllib3==1.26.16
