[tool.poetry]
name = "datalens-repmanager"
version = "0.0.1"
description = ""
authors = ["DataLens Team <datalens-opensource@yandex-team.ru>"]
packages = [{include = "dl_repmanager"}]
license = "Apache 2.0"
readme = "README.md"


[tool.poetry.dependencies]
attrs = ">=22.2.0"
frozendict = ">=2.3.8"
gitpython = ">=3.1.37"
python = ">=3.10, <3.12"
pyyaml = ">=6.0.1"
tomlkit = "==0.11.8"
requests = ">=2.31.0"
datalens-cli-tools = {path = "../dl_cli_tools"}

[tool.poetry.group.pytest.dependencies]
pytest = ">=7.4.3"

[tool.poetry.group.mypy.dependencies]
types_PyYAML = "*"
types-requests = "*"
mypy = ">= 1.7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra"
testpaths = ["dl_repmanager_tests/unit"]
timeout = 600

[tool.poetry.scripts]
dl-repo = "dl_repmanager.scripts.repmanager_cli:main"
dl-package = "dl_repmanager.scripts.package_meta_cli:main"
# Legacy names
datalens-repmanager-cli = "dl_repmanager.scripts.repmanager_cli:main"
dl-package-meta = "dl_repmanager.scripts.package_meta_cli:main"
# tmp
scoped-metapkg-sync = "dl_repmanager.scripts.scoped_metapkg_sync:main"

[tool.mypy]
warn_unused_configs = true
disallow_untyped_defs = true
check_untyped_defs = true
strict_optional = true
