name: "Run E2E tests on ref (local)"

on:
  workflow_dispatch:
    inputs:
      # We are using PR number here instead of SHA or branch name to make it possible to run this on PRs from forks
      pr:
        type: string
        required: true
        description: "Pull request number/url"
      sha:
        type: string
        required: true
        description: "Latest PR commit hash"
        # ^ To validate that PR has not changed before the checkout

jobs:
  run_e2e:
    name: "Build and run E2E"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout datalens-backend
      uses: actions/checkout@v4
      with:
        path: datalens-backend

    - name: Checkout datalens-ui
      uses: actions/checkout@v4
      with:
        repository: datalens-tech/datalens-ui
        path: datalens-ui

    - name: Switch to PR head
      working-directory: datalens-backend
      run: gh pr checkout ${{ github.event.inputs.pr }}
      env:
        GH_TOKEN: ${{ github.token }}
    - name: Validate SHA
      working-directory: datalens-backend
      run: |
        export HEAD_SHA=$(git rev-parse HEAD)
        export INPUT_SHA="${{ github.event.inputs.sha }}"
        echo "Calculated latest commit in PR: $HEAD_SHA"
        if [ x"$HEAD_SHA" != x"$INPUT_SHA" ]; then
          echo "The branch was updated since the workflow was triggered, exiting"
          exit 1
        fi

    - name: Install Task
      uses: arduino/setup-task@v1
      with:
        version: 3.33.1

    - uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'
        cache-dependency-path: datalens-ui/package-lock.json

    - name: Build and run E2E
      working-directory: datalens-backend
      run: task e2e:init-and-run DATALENS_UI_FOLDER="../../../datalens-ui" SHOW_LOGS_WHEN_DONE=true
      # note: ^ ui path is relative to datalens-backend/tools/e2e
